# NOTE(G3): To edit this file ensure you're editing the .flake8 file
# as the .pep8 file is but a symlink of the .flake8 file in order
# to support people's workflow
[flake8]
ignore = E231,E731,W391,F821,N,D,I,E501
exclude = .git,__pycache__,kesm/experimental
# max-line-length = 120
