{% extends 'base.html' %}
{% block content %}
    <!-- Initialise the Dropzone -->
    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.style('border: 2px dashed #C80000; border-radius:5px; height: 225px; width: 100%;
                       overflow: auto; white-space: normal;') }}
    <!-- Customize options of the dropzone -->
    {{ dropzone.config(max_files=512, timeout=0,
    allowed_file_custom=true, allowed_file_type= "image/*, .tif, .tiff, .jpg, .jpeg, .png",
    default_message='<i class="huge cloud upload alternate icon"></i>
                     <header id="dragdropheader" style="margin-top:15px">
                     Drag & Drop to Upload Files
                     </header>',
    custom_options='addRemoveLinks: true, parallelUploads: 512, uploadMultiple: true, maxFilesize: 4000'
    ) }}
    <div class="ui tiny modal" id="IEmodal">
        <div class="header">VesselExpress - Internet Explorer</div>
        <div class="content">
            Seems like you are using Internet Explorer. For the best experience try using the latest version of another
            browser like Mozilla FireFox, Google Chrome, Safari or Microsoft Edge.
        </div>
        <div class="center actions">
            <div class="ui block-center color2 positive button" style="width: 200px; height: 35px">Accept</div>
        </div>
    </div>

    <div class="ui tiny modal" id="pixelinfo">
        <div class="header">Pixel size calculation</div>
        <div class="content" id="pixelinfoo">
            The x and y pixel size can be calculated by dividing the respective x or y pixel size of the CCD/sCMOS
            camera in microns by the total magnification of the imaging system used for acquiring the images.
            <br>
            For example the x and y pixel sizes in an image acquired with a CCD camera having 6 X 6 micron pixels on an
            optical imaging system using 10X total magnification would be 0.6 microns.
            <br>
            The z pixel size is the z-step size in microns used to acquire the image stack.
        </div>
        <div class="center actions">
            <div class="ui block-center color2 positive button" style="width: 150px; height: 35px">OK</div>
        </div>
    </div>


    <div style="margin-bottom: 10px; margin-top:3px" class="ui grid">
        <div class="thirteen wide column">
            <h2 class="ui huge header">
                <div class="content">
                    VesselExpress
                    <div class="sub header">
                        Rapid and fully automated blood vasculature analysis in 3D light sheet image volumes of
                        different organs.
                    </div>
                </div>
            </h2>
        </div>
        <div class="three wide column">
            <div class="ui list">
                <div class="item">
                    <i class="github icon" style="color: #00796b"></i>
                    <div class="content">
                        <a href="https://github.com/RUB-Bioinf/VesselExpress" target="_blank" style="color: #00796b">
                            View on GitHub
                        </a>
                    </div>
                </div>
                <div class="item">
                    <i class="file outline icon" style="color: #00796b"></i>
                    <div class="content">
                        <a href="https://github.com/RUB-Bioinf/VesselExpress/wiki" target="_blank"
                           style="color: #00796b">
                            Documentation
                        </a>
                    </div>
                </div>
                <div class="item">
                    <i class="file image outline icon" style="color: #00796b"></i>
                    <div class="content">
                        <a href="https://zenodo.org/record/5733151#.Yak8TS9XZM9" target="_blank" style="color: #00796b">
                            Example data
                        </a>
                    </div>
                </div>
                <div class="item">
                    <i class="address book outline icon" style="color: #00796b"></i>
                    <div class="content">
                        <a href="https://github.com/RUB-Bioinf/VesselExpress" target="_blank" style="color: #00796b">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui raised segment">
                <div class="ui two columns grid">
                    <div class="ten wide column">
                        Try VesselExpress by uploading single-channel grayscale TIF images.
                        <br> You may want to change the parameters in the sidebar. Hover over the labels for
                        description.
                        <br> After running the pipeline you can download all results by clicking "Download all results"
                        or only the numerical data by clicking "Download statistics".
                    </div>
                    <div class="six wide column">
                    </div>
                </div>
                </p>
            </div>
        </div>
        <div class="eight wide column">
            {{ dropzone.create(action=url_for('home.home_page')) }}
            <form style="padding: 0; margin: 0;" method="POST">
                <div class="ui two columns grid">
                    <div class="column">
                        <button style="margin-right: 0;"
                                class="ui block-center color1 button" type=submit
                                name="clear_files" id="clear_files">
                            Clear files
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui block-center color2 button" id="start_pipeline"
                                name="start_pipeline">
                            Run Pipeline
                        </button>
                    </div>
                </div>
            </form>
            <div class="padlrbig border-1 container">
                <div class="segment"
                     style="overflow-y: auto; overflow-x: hidden; white-space: pre-wrap; word-wrap: break-word; height: 270px"
                     id="renderfiles" name="renderfiles"><h3>Rendered Files</h3></div>
            </div>
            <div class="ui two column grid " style="margin-top: 0">
                <div class="column">
                    <form style="padding: 0; margin: 0;" method="POST" id="download_img_form">
                        <input type="hidden" name="download_images" id="download_images">
                        <button class="ui block-center color1 button" type=submit onsubmit="return false"
                                name="download_image" id="download_image">
                            Download all results
                        </button>
                    </form>
                    <div class="mini ui icon block-center hidden message" id="progbar_message" 
                            style="margin-top: 0px; margin-left: 0px; height: 45px; width: 100%; background-color: #00796b !important; color: white !important;">
                        <i class="mini notched circle loading icon" style="margin-top: 0px"></i>
                        <div class="content" style="margin-top: -1px; margin-left: -15px;">
                            <div><b style="font-size: 14px">Preparing download</b></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <form style="padding: 0; margin: 0;" method="POST" id="download_stat_form">
                        <input type="hidden" name="download_statistics" id="download_statistics">
                        <button class="ui block-center color2 button" type=submit onsubmit="return false"
                                name="download_statistic" id="download_statistic">
                            Download statistics
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="padlrbig container" id="content"
                 style="background-color: #000000;color: #99ffcc;font-family: Courier;">
                <div class="ui grid">
                    <div class="ten wide column">
                        <h3 style="padding-top: 0px !important;">VesselExpress console:</h3>
                    </div>
                    <div class="six wide column">
                        <form style="padding: 0; margin: 0;" method="POST" id="download_log_form">
                            <input type="hidden" name="download_logs" id="download_logs">
                            <button class="ui color2 button" style="height: 100%; line-height: 50%;"
                                    id="download_log_btn" name="download_log_btn">
                                Download logs
                            </button>
                        </form>
                    </div>
                </div>
                <div class="segment"
                     style="margin-top: 10px; overflow: auto; overflow-y: auto; white-space: pre-wrap; word-wrap: break-word; height: 600px;"
                     id="snakelog" name="snakelog">
                </div>
                <b id="prompt" class="prompt idle">&marker;</b>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        // Sockets
        var log_socket = io.connect('http://127.0.0.1:5000/log', {transports: ['websocket']});  // Connect to socket
        var snakelogele = document.getElementById('snakelog');  // Textarea
        var blink = document.getElementById('prompt');  // Blinking marker
        var last_log = '';  // To detect changes in the log
        log_socket.emit('get_log');  // Get log on page load
        setInterval(function () {  // Initiate server tick to scan for log
            if (log_socket.connected == true) {
                log_socket.emit('get_log');
            }
        }, 2000)
        // Function when receiving 'newlog'
        log_socket.on('newlog', function (msg) {
            if (msg.data != last_log) {  // Only update if log changed
                snakelogele.innerHTML = msg.data;  // Writes the log to msg.data
                snakelogele.appendChild(blink);  // Appends blinking marker
                snakelogele.scrollTop = snakelogele.scrollHeight;  // Scrolls down to the end
                last_log = msg.data;  // Assign new last log
            } else {
                //pass
            }
        });
        setInterval(function () {
            blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
        }, 550);


        var render_socket = io.connect('http://localhost:5000/renderfiles', {transports: ['websocket']});
        var renderfilesele = document.getElementById('renderfiles');
        var last_renderfiles;
        render_socket.emit('get_files');
        setInterval(function () {
            if (render_socket.connected == true) {
                render_socket.emit('get_files');
            }
        }, 3000)
        render_socket.on('nonewfiles', function (msg) {  // Function when no glb files are present
            while (renderfilesele.childNodes.length > 1) {  // Deletes all buttons previously present
                renderfilesele.removeChild(renderfilesele.childNodes[1]);
            }
            if (renderfilesele.innerHTML != msg.data) {  // Only change on first call
                renderfilesele.innerHTML += msg.data;
            }
        })
        render_socket.on('newfiles', function (msg) {  // Function when glb files are present
            if (JSON.stringify(last_renderfiles) === JSON.stringify(msg.data)) {
                //pass
            } else {  // Only create buttons when new .glb files are available
                while (renderfilesele.childNodes.length > 1) {
                    renderfilesele.removeChild(renderfilesele.childNodes[1]);
                }
                for (var i = 0; i < msg.data.length; i++) {  // Creating the buttons
                    let elem = document.createElement('input');
                    elem.type = 'button';
                    elem.value = msg.data[i];
                    elem.classList = 'ui rendergenerated button';
                    elem.addEventListener("click", function () {
                        render_data = [{
                            "request": "get_render_preview",  // Pass this request identifier
                            "file_name": elem.value           // With this value
                        }]
                        $.ajax({ // AJAX POST instructions
                            type: "POST",
                            url: {{ url_for('home.home_page')| tojson }},  // When triggered execute this
                            data: JSON.stringify(render_data),
                            contentType: "application/json",
                            dataType: 'json'
                        })
                        window.open('http://localhost:5000/render', '_blank');  // Opening new tab
                    })
                    renderfilesele.appendChild(elem);  // Appending button
                }
                last_renderfiles = msg.data;  // To track whether new .glb files are present
            }
        });

        var prog_socket = io.connect('http://127.0.0.1:5000/progbar', {transports: ['websocket']});
        // Function when receiving 'newlog'
        var default_dl_button = document.getElementById("download_img_form").style.display
        prog_socket.on('newprogress', function (msg) {
            /*flash_handler([{'message': 'Progress: ' + msg.data.current + '/' + msg.data.sum, 'type': 'success'}])
            $('#progbar_progress').progress({
                percent: (msg.data.current / msg.data.sum) * 100
            })*/
            if (msg.data == 1) {
                document.getElementById("download_img_form").style.display="none";
                document.getElementById("progbar_message").classList.remove("hidden");
                
            } else if (msg.data == 0) {
                document.getElementById("download_img_form").style.display=default_dl_button;
                document.getElementById("progbar_message").classList.add("hidden");
            }
        });
        
        //$("#progbar_message").click(function () {
        //    document.getElementById('progbar_message').classList.add('hidden')
        //})


        // AJAX
        $("#start_pipeline").click(function (event) {
            event.preventDefault();  // Deactivate standard POST submit
            // Data that is sent to backend
            /* var ajax_data = [{
                "request": "update_config",
                "update_config": getParams()
            }];
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                data: JSON.stringify(ajax_data),
                contentType: "application/json",
                dataType: 'json'
            }).done(function (flash_collection) {
                flash_handler(flash_collection)*/
            ajax_data = [{
                "request": "start_pipeline",
                "update_config": getParams()
            }];
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                data: JSON.stringify(ajax_data),
                contentType: "application/json",
                dataType: 'json'
            }).done(function (flash_collection) {
                flash_handler(flash_collection)
                Dropzone.forElement('#myDropzone').removeAllFiles(true)
            });
        });
        //});

        var proginterval
        $("#download_image").click(function (event) {
            event.preventDefault();  // Deactivate standard POST submit
            proginterval = setInterval(function () {  // Initiate server tick to scan for log
                if (prog_socket.connected == true) {
                    prog_socket.emit('get_progress');
                }
            }, 500)
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                async: true,
                data: JSON.stringify([{
                    "request": "download_images",
                    "type": "first_run"
                }]),
                contentType: "application/json",
                dataType: 'json',
                success: (function (flash_collection) {
                    if (flash_collection == 0) {
                        prog_socket.emit('get_progress');
                    }
                })
            }).done(function (flash_collection) {
                if (flash_collection != 0) {
                    flash_handler(flash_collection)
                    clearInterval(proginterval);
                } else if (flash_collection == 0) {
                    clearInterval(proginterval)
                    $.ajax({ // AJAX POST instructions
                        type: "POST",
                        url: {{ url_for('home.home_page')| tojson }},
                        async: false,
                        data: JSON.stringify([{
                            "request": "download_images",
                            "request": "download_images",
                            "type": "second_run"
                        }]),
                        contentType: "application/json",
                        dataType: 'json'
                    }).done($("#download_img_form").submit())
                }
            })
        });

        $("#download_statistic").click(function (event) {
            event.preventDefault();  // Deactivate standard POST submit
            // Data that is sent to backend
            var ajax_data = [{
                "request": "download_statistics",
                "type": "first_run"
            }];
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                async: false,
                data: JSON.stringify(ajax_data),
                contentType: "application/json",
                dataType: 'json',
            }).done(function (flash_collection) {
                if (flash_collection != 0) {
                    flash_handler(flash_collection)
                } else if (flash_collection == 0) {

                    $.ajax({ // AJAX POST instructions
                        type: "POST",
                        url: {{ url_for('home.home_page')| tojson }},
                        async: false,
                        data: JSON.stringify(ajax_data),
                        contentType: "application/json",
                        dataType: 'json',
                    }).done(function () {
                        $("#download_stat_form").submit(); // Submit the form
                    })
                }
            })
        });

        $("#download_log_btn").click(function (event) {
            event.preventDefault();  // Deactivate standard POST submit
            // Data that is sent to backend
            var ajax_data = [{
                "request": "download_logs"
            }];
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                async: false,
                data: JSON.stringify(ajax_data),
                contentType: "application/json",
                dataType: 'json',
            }).done(function (flash_collection) {
                if (flash_collection != 0) {
                    flash_handler(flash_collection)
                } else if (flash_collection == 0) {
                    $("#download_log_form").submit(); // Submit the form
                }
            })
        });

        $("#clear_files").click(function (event) {
            event.preventDefault();  // Deactivate standard POST submit
            // Data that is sent to backend
            var ajax_data = [{
                "request": "clear_files"
            }];
            $.ajax({ // AJAX POST instructions
                type: "POST",
                url: {{ url_for('home.home_page')| tojson }},
                data: JSON.stringify(ajax_data),
                contentType: "application/json",
                dataType: 'json'
            }).done(function (flash_collection) {
                flash_handler(flash_collection)
                Dropzone.forElement('#myDropzone').removeAllFiles(true)
            });
        });

        //Browser check
        // Internet Explorer 6-11
        var isIE = false || !!document.documentMode;
        if (isIE === true) {
            $('#IEmodal').modal('show');
        }

    </script>
{% endblock content %}