{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="top center ui toast-container">
                        <div id="errortoast" class="ui neutral centered toast">
                            <i class="times circle outline icon"></i>
                            {{ message }}
                        </div>
                    </div>
                {% elif category == 'success' %}
                    <div class="top center ui toast-container">
                        <div id="successtoast" class="ui neutral centered toast">
                            <i class="check circle outline icon"></i>
                            {{ message }}
                        </div>
                    </div>
                {% elif category == 'warning' %}
                    <div class="top center ui toast-container">
                        <div id="warningtoast" class="ui neutral centered toast">
                            <i class="question circle outline icon"></i>
                            {{ message }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}