<img style="margin-top: 25px; margin-bottom: 25px;" class="ui centered small image" src="static/images/logo.svg">
<input type="hidden" name="version_link" id="version_link">
<div class="ui large label" style="margin-top: -40px !important;" for="version_link"
     onclick={window.open("https://github.com/RUB-Bioinf/VesselExpress/releases","_blank")}>Version: 1.1.0
</div>
<div class="container mtop mleftright"
     style="height: 70%; overflow-x: hidden; overflow-y: auto; word-wrap: break-word;">
    <div class="segment padlr">
        <h4 class="ui horizontal left aligned divider header">
            General
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="fixed small"
                           data-tooltip="Check for small RAM mode"
                           data-position="bottom right">
                        <span>
                            Small RAM
                        </span>
                    </label>
                </div>
                <div class="ui checkbox"
                     style="margin-top: -17px !important; margin-left: 85px;">
                    <input type="checkbox" name="ram" id="ram_checkbox">
                    <label></label>
                </div>
            </div>
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small"
                           data-tooltip="Check to create 2D and 3D previews of the vasculature"
                           data-position="bottom right">
                        <span id="render_span">
                            Preview
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 65px;">
                    <input type="checkbox" name="render" id="render_checkbox" onchange="updatepreview(this)">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="x pixel dimension in µm" data-position="bottom left">
                            x size:
                        </span>
                        <input id="dim_x" name="dim_x" class="mtop"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatex(this.value)" value="1.0">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="y pixel dimension in µm" data-position="bottom left">
                            y size:
                        </span>
                        <input id="dim_y" name="dim_y" class="mtop"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatey(this.value)" value="1.0">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="dim_z_span"
                              data-tooltip="z pixel dimension in µm" data-position="bottom left">
                            z size:
                        </span>
                        <input id="dim_z" name="dim_z" class="mtop color1"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatez(this.value)" value="1.0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui four columns grid padlr" style="margin-bottom: -30px!important;">
        <div class="sixteen wide column">
            <label id="pixel_dims" style="font-size: 16px;"></label>
        </div>
    </div>
    <div class="ui four columns grid padlr">
        <div class="eight wide column">
            <a href="" style="color: #00796b; font-size: 16px;" id="pixelsizetooltip">
                More information
            </a>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Preprocessing
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Perform smoothing"
                              data-position="top left">
                            Smoothing:
                        </span>
                        <input id="smoothing" name="smoothing" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Core threshold:
                        </span>
                        <input id="core_threshold" name="core_threshold" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Segmentation
        </h4>
         <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="vesselness_1_span">
                            Vesselness filter 1
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 130px;">
                    <input type="checkbox" name="vesselness_1" id="vesselness_1">
                    <label></label>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Perform smoothing"
                              data-position="top left">
                            Gamma:
                        </span>
                        <input id="gamma_1" name="gamma_1" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Sigma:
                        </span>
                        <input id="sigma_1" name="sigma_1" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Cutoff method:
                        </span>
                        <select class="ui fluid dropdown mtop" id="cutoff_method_1" name="cutoff_method_1"
                               style="height:45px; background-color: #F0F0F0" style="margin-top: 5px">
                            <option value="">Li</option>
                            <option value="1">Triangle</option>
                            <option value="0">Otsu</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="vesselness_2_span">
                            Vesselness filter 2
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 130px;">
                    <input type="checkbox" name="vesselness_2" id="vesselness_2">
                    <label></label>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Perform smoothing"
                              data-position="top left">
                            Gamma:
                        </span>
                        <input id="gamma_2" name="gamma_2" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Sigma:
                        </span>
                        <input id="sigma_2" name="sigma_2" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Cutoff method:
                        </span>
                        <select class="ui fluid dropdown mtop" id="cutoff_method_2" name="cutoff_method_2"
                               style="height:45px; background-color: #F0F0F0" style="margin-top: 5px">
                            <option value="">Li</option>
                            <option value="1">Triangle</option>
                            <option value="0">Otsu</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Postprocessing
        </h4>
        <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="post_thinning_span">
                            Postthinning
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 130px;">
                    <input type="checkbox" name="post_thinning" id="post_thinning">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Perform smoothing"
                              data-position="top left">
                            Thin:
                        </span>
                        <input id="thin" name="thin" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Min thickness:
                        </span>
                        <input id="min_thickness" name="min_thickness" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Perform smoothing"
                              data-position="top left">
                            Closing:
                        </span>
                        <input id="postclosing" name="postclosing" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Pixel size of artifacts to be removed" data-position="top left">
                            Cleaning:
                        </span>
                        <input id="postcleaning" name="postcleaning" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Graph Analysis
        </h4>
        <div class="ui four columns grid">
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="Scaling factor to determine spurious branches" data-position="top left">
                            Pruning:
                        </span>
                        <input id="pruning_scale" name="pruning_scale" class="mtop"
                               style="height:45px; background-color: #F0F0F0" type="number"
                               step="0.1" value="1.5">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="Minimum length of vessels in µm" data-position="top left">
                            Length limit:
                        </span>
                        <input id="length_limit" name="length_limit" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="3">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="Minimum length of vessels in µm" data-position="top left">
                            Diam. scale:
                        </span>
                        <input id="diameter_scale" name="diameter_scale" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="2">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="eight wide column">
                <div>
                    <span style="font-size:16px;" data-variation="fixed small"
                          data-tooltip="Percentage segment length to use for branching angle calculation"
                          data-position="top right">
                        Branching threshold:
                    </span>
                    <div class="ui bottom aligned labeled ticked dark red slider" id="slider2"></div>
                    <div class="ui input"></div>
                    <input name="branching_threshold" id="slider-input-2" type="hidden">
                </div>
            </div>
            <div class="eight wide column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="graphoutput_span">
                            Graph output
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 100px;">
                    <input type="checkbox" name="graphoutput" id="graphoutput_checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="ui four columns grid padlr">
        <div class="eight wide column">
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0097849312000684" target="_blank"
               style="color: #00796b; font-size: 16px">
                More information
            </a>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header" id="preview">
            Rendering Preview
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="image_resolution_x_span"
                              data-tooltip="x resolution of image with rendered vasculature"
                              data-position="top left">
                            x resolution:
                        </span>
                        <input id="image_resolution_x" name="image_resolution_x" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1920">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="image_resolution_y_span"
                              data-tooltip="y resolution of image with rendered vasculature"
                              data-position="top left">
                            y resolution:
                        </span>
                        <input id="image_resolution_y" name="image_resolution_y" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1080">
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="gpu_span">
                            GPU
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 40px;">
                    <input type="checkbox" name="render_device" id="gpu_checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mtop mleftright" style="height: 660px; overflow:hidden;">
    <div class="ui two columns grid padlr" style="margin-top: 10px;">
        <div class="column">
            <button class="ui color1 button" style="width:100%" name="reset_config" id="reset_config"
                    data-variation="small" data-tooltip="Reset to default settings" data-position="right center">
                Reset configurations
            </button>
        </div>
        <div class="column">
            <button class="ui color2 button" style="width:100%" name="update_config" id="update_config"
                    data-variation="small"
                    data-tooltip="Apply current settings" data-position="left center">
                Apply configurations
            </button>
        </div>
    </div>
</div>

<script>

    document.getElementById("slider-input-2").value = 0.25

    function getParams() {
        return {
            "branching_threshold": document.getElementById("slider-input-2").value
        }
    }

    $('#slider2').slider({
        min: 0,
        max: 1,
        start: 0.25,
        step: 0.05,
        smooth: true,
       onChange: function (value) {
            document.getElementById("slider-input-2").value = value;
       }
   });

</script>
