<img style="margin-top: 25px; margin-bottom: 25px;" class="ui centered small image" src="static/images/logo.svg">
<input type="hidden" name="version_link" id="version_link">
<div class="ui large label" style="margin-top: -40px !important;" for="version_link"
     onclick={window.open("https://github.com/RUB-Bioinf/VesselExpress/releases","_blank")}>Version: 1.1.0
</div>
<div class="container mtop mleftright"
     style="height: 70%; overflow-x: hidden; overflow-y: auto; word-wrap: break-word;">
    <div class="segment padlr">
        <h4 class="ui horizontal left aligned divider header">
            General
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small"
                           data-tooltip="Check for small RAM mode"
                           data-position="bottom left">
                        <span>
                            Small RAM
                        </span>
                    </label>
                </div>
                <div class="ui checkbox"
                     style="margin-top: -17px !important; margin-left: 85px;">
                    <input type="checkbox" name="ram" id="ram_checkbox">
                    <label></label>
                </div>
            </div>
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small"
                           data-tooltip="Check to create 2D and 3D previews of the vasculature"
                           data-position="bottom left">
                        <span id="render_span">
                            Preview
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 65px;">
                    <input type="checkbox" name="render" id="render_checkbox" onchange="updatepreview(this)">
                    <label></label>
                </div>
            </div>
        </div>
        <div style="margin-top: -12px !important" class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="x pixel dimension in µm" data-position="bottom left">
                            x size:
                        </span>
                        <input id="dim_x" name="dim_x" class="mtop"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatex(this.value)" value="1.0">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="y pixel dimension in µm" data-position="bottom left">
                            y size:
                        </span>
                        <input id="dim_y" name="dim_y" class="mtop"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatey(this.value)" value="1.0">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="dim_z_span"
                              data-tooltip="z pixel dimension in µm" data-position="bottom left">
                            z size:
                        </span>
                        <input id="dim_z" name="dim_z" class="mtop color1"
                               style="height:45px; background-color: #F0F0F0; text-align: center !important"
                               oninput="updatez(this.value)" value="1.0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui four columns grid padlr" style="margin-bottom: -30px!important; margin-top: -10px;">
        <div class="sixteen wide column">
            <label id="pixel_dims" style="font-size: 16px;"></label>
        </div>
    </div>
    <div class="ui four columns grid padlr">
        <div class="eight wide column">
            <a href="" style="color: #00796b; font-size: 16px;" id="pixelsizetooltip">
                More information
            </a>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 25px">
        <h4 class="ui horizontal left aligned divider header">
            Preprocessing
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="Set to 1 for smoothing, otherwise 0"
                              data-position="top left">
                            Smoothing:
                        </span>
                        <input id="smoothing" name="smoothing" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1" min="0" max="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="fixed small"
                              data-tooltip="Thresh. value is determined by mean + the std. dev. scaled by this factor, set to 0 for no thresholding" data-position="top left">
                            Core threshold:
                        </span>
                        <input id="core_threshold" name="core_threshold" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Segmentation
        </h4>
         <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use first Frangi filter"
                           data-position="top left">
                        <span id="vesselness_1_span">
                            Vesselness filter 1
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 130px;">
                    <input type="checkbox" name="vesselness_1" id="vesselness_1" onchange="updatevesselness1(this)" >
                    <label></label>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="The sensitivity of the filter to tubular shapes"
                              data-position="top left">
                            Gamma:
                        </span>
                        <input id="gamma_1" name="gamma_1" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Set according to expected vessel diameter in pixel" data-position="top left">
                            Sigma:
                        </span>
                        <input id="sigma_1" name="sigma_1" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="fixed small"
                              data-tooltip="Method for determining the cutoff-value which splits the image in fore- and background" data-position="top right">
                            Cutoff method:
                        </span>
                        <select class="ui fluid dropdown mtop" id="cutoff_method_1" name="cutoff_method_1"
                               style="height:45px; background-color: #F0F0F0" style="margin-top: 5px">
                            <option value="2">Li</option>
                            <option value="1">Triangle</option>
                            <option value="0">Otsu</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use second Frangi filter to detect larger vessels than previous filter"
                           data-position="top left">
                        <span id="vesselness_2_span">
                            Vesselness filter 2
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 130px;">
                    <input type="checkbox" name="vesselness_2" id="vesselness_2" onchange="updatevesselness2(this)">
                    <label></label>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="The sensitivity of the filter to tubular shapes"
                              data-position="top left">
                            Gamma:
                        </span>
                        <input id="gamma_2" name="gamma_2" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="Set according to expected vessel diameter in pixel" data-position="top left">
                            Sigma:
                        </span>
                        <input id="sigma_2" name="sigma_2" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3.0">
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="fixed small"
                              data-tooltip="Method for determining the cutoff-value which splits the image in fore- and background" data-position="top right">
                            Cutoff method:
                        </span>
                        <select class="ui fluid dropdown mtop" id="cutoff_method_2" name="cutoff_method_2"
                               style="height:45px; background-color: #F0F0F0" style="margin-top: 5px">
                            <option value="2">Li</option>
                            <option value="1">Triangle</option>
                            <option value="0">Otsu</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Postprocessing
        </h4>
        <div class="ui four columns grid">
            <div class="two-wide-column" style="margin-top: 15px">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to perform postthinning"
                           data-position="top left">
                        <span id="post_thinning_span">
                            Postthinning
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 95px;">
                    <input type="checkbox" name="post_thinning" id="post_thinning" onchange="updatepostthinning(this)">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="The amount of pixels to thin"
                              data-position="top left">
                            Thin:
                        </span>
                        <input id="thin" name="thin" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="fixed small"
                              data-tooltip="Half of the minimum width you want to keep from being thinned" data-position="top left">
                            Min thickness:
                        </span>
                        <input id="min_thickness" name="min_thickness" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Pixel size of structuring element of closing, set to 0 for no closing"
                              data-position="top right">
                            Closing:
                        </span>
                        <input id="postclosing" name="postclosing" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="5">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px; white-space:nowrap;overflow:hidden;text-overflow:clip;"
                              data-variation="small"
                              data-tooltip="The smallest allowable object size in pixels, set to 0 for no cleaning" data-position="top right">
                            Cleaning:
                        </span>
                        <input id="postcleaning" name="postcleaning" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header">
            Graph Analysis
        </h4>
        <div class="ui four columns grid">
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Scaling factor for pruning (see more information)" data-position="top left">
                            Pruning:
                        </span>
                        <input id="pruning_scale" name="pruning_scale" class="mtop"
                               style="height:45px; background-color: #F0F0F0" type="number"
                               step="0.1" value="1.5">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small"
                              data-tooltip="The smallest allowable vessel length in µm" data-position="top left">
                            Length limit:
                        </span>
                        <input id="length_limit" name="length_limit" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="3">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="fixed small"
                              data-tooltip="Vessels with a length below the diameter scaled by this factor are pruned" data-position="top right">
                            Diam. scale:
                        </span>
                        <input id="diameter_scale" name="diameter_scale" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="0.1" value="2">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui four columns grid">
            <div class="eight wide column">
                <div>
                    <span style="font-size:16px;" data-variation="fixed small"
                          data-tooltip="Percentage segment length to use for branching angle calculation"
                          data-position="top left" id="branch_thresh_span">
                        Branching threshold:
                    </span>
                    <div class="ui bottom aligned labeled ticked dark red slider" id="slider2"></div>
                    <div class="ui input"></div>
                    <input name="branching_threshold" id="slider-input-2" type="hidden">
                </div>
            </div>
            <div class="eight wide column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to receive graph output"
                           data-position="top right">
                        <span id="graphoutput_span">
                            Graph output
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 100px;">
                    <input type="checkbox" name="graphoutput" id="graphoutput_checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px" class="ui four columns grid padlr">
        <div class="eight wide column">
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0097849312000684" target="_blank"
               style="color: #00796b; font-size: 16px">
                More information
            </a>
        </div>
    </div>

    <div class="segment padlr" style="margin-top: 30px">
        <h4 class="ui horizontal left aligned divider header" id="preview">
            Rendering Preview
        </h4>
        <div class="ui four columns grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="image_resolution_x_span"
                              data-tooltip="x resolution of image with rendered vasculature"
                              data-position="top left">
                            x resolution:
                        </span>
                        <input id="image_resolution_x" name="image_resolution_x" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1920">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <span style="font-size:16px;" data-variation="small" id="image_resolution_y_span"
                              data-tooltip="y resolution of image with rendered vasculature"
                              data-position="top left">
                            y resolution:
                        </span>
                        <input id="image_resolution_y" name="image_resolution_y" class="mtop"
                               style="height:45px; background-color: #F0F0F0"
                               type="number" step="1" value="1080">
                    </div>
                </div>
            </div>
            <div class="column">
                <div>
                    <label style="font-size: 16px;"
                           data-variation="small" data-tooltip="Check to use GPU for rendering"
                           data-position="top left">
                        <span id="gpu_span">
                            GPU
                        </span>
                    </label>
                </div>
                <div class="ui checkbox" style="margin-top: -17px; margin-left: 40px;">
                    <input type="checkbox" name="render_device" id="gpu_checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mtop mleftright" style="height: 660px; overflow:hidden;">
    <div class="ui two columns grid padlr" style="margin-top: 10px;">
        <div class="column">
            <button class="ui color1 button" style="width:100%" name="reset_config" id="reset_config"
                    data-variation="small" data-tooltip="Reset to default settings" data-position="right center">
                Reset configurations
            </button>
        </div>
        <div class="column">
            <button class="ui color2 button" style="width:100%" name="update_config" id="update_config"
                    data-variation="small"
                    data-tooltip="Apply current settings" data-position="left center">
                Apply configurations
            </button>
        </div>
    </div>
</div>

<script>
    var config = JSON.parse('{{ config | tojson | safe}}');
    // Checkboxes
    document.getElementById("ram_checkbox").value = config["small_RAM_mode"]
    if (document.getElementById("ram_checkbox").value == 1) {
        document.getElementById("ram_checkbox").checked = true;
    } else {
        document.getElementById("ram_checkbox").checked = false;
    }
    document.getElementById("render_checkbox").value = config["render"]
    if (document.getElementById("render_checkbox").value == 1) {
        document.getElementById("render_checkbox").checked = true;
    } else {
        document.getElementById("render_checkbox").checked = false;
    }
    document.getElementById("vesselness_1").value = config["segmentation3D"]["core_vessel_1"]
    if (document.getElementById("vesselness_1").value == 1) {
        document.getElementById("vesselness_1").checked = true;
    } else {
        document.getElementById("vesselness_1").checked = false;
    }
    if (config["segmentation3D"]["cutoff_method_1"] == "threshold_li") {
        document.getElementById("cutoff_method_1").value = "2";
    } else if (config["segmentation3D"]["cutoff_method_1"] == "threshold_triangle") {
        document.getElementById("cutoff_method_1").value = "1";
    } else {
        document.getElementById("cutoff_method_1").value = "0";
    }
    if (config["segmentation3D"]["cutoff_method_2"] == "threshold_li") {
        document.getElementById("cutoff_method_2").value = "2";
    } else if (config["segmentation3D"]["cutoff_method_2"] == "threshold_triangle") {
        document.getElementById("cutoff_method_2").value = "1";
    } else {
        document.getElementById("cutoff_method_2").value = "0";
    }
    document.getElementById("vesselness_2").value = config["segmentation3D"]["core_vessel_2"]
    if (document.getElementById("vesselness_2").value == 1) {
        document.getElementById("vesselness_2").checked = true;
    } else {
        document.getElementById("vesselness_2").checked = false;
    }
    document.getElementById("post_thinning").value = config["segmentation3D"]["post_thinning"]
    if (document.getElementById("post_thinning").value == 1) {
        document.getElementById("post_thinning").checked = true;
    } else {
        document.getElementById("post_thinning").checked = false;
    }
    document.getElementById("graphoutput_checkbox").value = config["graphAnalysis"]["extended_output"]
    if (document.getElementById("graphoutput_checkbox").value == 1) {
        document.getElementById("graphoutput_checkbox").checked = true;
    } else {
        document.getElementById("graphoutput_checkbox").checked = false;
    }
    if (config["rendering"]["render_device"] == "GPU") {
        document.getElementById("gpu_checkbox").value = 1;
    } else {
        document.getElementById("gpu_checkbox").value = 0;
    }
    if (document.getElementById("gpu_checkbox").value == 1) {
        document.getElementById("gpu_checkbox").checked = true;
    } else {
        document.getElementById("gpu_checkbox").checked = false;
    }


    // Update settings
    // General
    document.getElementById("dim_x").value = config["graphAnalysis"]["dim_x"]  // Prepared like this in python
    document.getElementById("dim_y").value = config["graphAnalysis"]["dim_y"]
    document.getElementById("dim_z").value = config["graphAnalysis"]["dim_z"]
    // Preprocessing
    document.getElementById("smoothing").value = config["segmentation3D"]["smoothing"]
    document.getElementById("core_threshold").value = config["segmentation3D"]["core_threshold"]
    // Segmentation
    document.getElementById("gamma_1").value = config["segmentation3D"]["gamma_1"]
    document.getElementById("sigma_1").value = config["segmentation3D"]["sigma_1"]
    document.getElementById("gamma_2").value = config["segmentation3D"]["gamma_2"]
    document.getElementById("sigma_2").value = config["segmentation3D"]["sigma_2"]
    // Postprocessing
    document.getElementById("thin").value = config["segmentation3D"]["thin"]
    document.getElementById("min_thickness").value = config["segmentation3D"]["min_thickness"]
    document.getElementById("postclosing").value = config["segmentation3D"]["post_closing"]
    document.getElementById("postcleaning").value = config["segmentation3D"]["post_cleaning"]
    // Graph Analysis
    document.getElementById("pruning_scale").value = config["graphAnalysis"]["pruning_scale"]
    document.getElementById("length_limit").value = config["graphAnalysis"]["length_limit"]
    document.getElementById("diameter_scale").value = config["graphAnalysis"]["diameter_scale"]
    document.getElementById("slider-input-2").value = config["graphAnalysis"]["branching_threshold"]
    // Rendering Preview
    document.getElementById("image_resolution_x").value = config["rendering"]["image_resolution_x"]
    document.getElementById("image_resolution_y").value = config["rendering"]["image_resolution_y"]
    
    //pixel dimensions
    document.getElementById("pixel_dims").innerHTML = '1 pixel/voxel = ' + document.getElementById('dim_x').value + ' x ' + document.getElementById('dim_y').value + ' x ' + document.getElementById('dim_z').value + ' µm';
    document.getElementById("branch_thresh_span").innerHTML = 'Branching threshold: ' + document.getElementById('slider-input-2').value
    
    function updatex(val) {
        document.getElementById("pixel_dims").innerHTML = '1 pixel/voxel = ' + val + ' x ' + document.getElementById('dim_y').value + ' x ' + document.getElementById('dim_z').value + ' µm';
    }

    function updatey(val) {
        document.getElementById("pixel_dims").innerHTML = '1 pixel/voxel = ' + document.getElementById('dim_x').value + ' x ' + val + ' x ' + document.getElementById('dim_z').value + ' µm';
    }

    function updatez(val) {
        document.getElementById("pixel_dims").innerHTML = '1 pixel/voxel = ' + document.getElementById('dim_x').value + ' x ' + document.getElementById('dim_y').value + ' x ' + val + ' µm';
    }

    // Preview checkbox enable/disable parameters
    function updatepostthinning(id) {
        if (id.checked) {
            document.getElementById("thin").disabled = false;
            document.getElementById("thin").style.color = 'black';
            document.getElementById("min_thickness").disabled = false;
            document.getElementById("min_thickness").style.color = 'black';
        } else {
            document.getElementById("thin").disabled = true;
            document.getElementById("thin").style.color = '#ababab';
            document.getElementById("min_thickness").disabled = true;
            document.getElementById("min_thickness").style.color = '#ababab';
        }
    }

    function updatevesselness1(id){
        if (id.checked){
            document.getElementById("gamma_1").disabled = false;
            document.getElementById("gamma_1").style.color = 'black';
            document.getElementById("sigma_1").disabled = false;
            document.getElementById("sigma_1").style.color = 'black';
            document.getElementById("cutoff_method_1").disabled = false;
            document.getElementById("cutoff_method_1").style.color = 'black';
        }
        else {
            document.getElementById("gamma_1").disabled = true;
            document.getElementById("gamma_1").style.color = '#ababab';
            document.getElementById("sigma_1").disabled = true;
            document.getElementById("sigma_1").style.color = '#ababab';
            document.getElementById("cutoff_method_1").disabled = true;
            document.getElementById("cutoff_method_1").style.color = '#ababab';
        }
    }

    function updatevesselness2(id){
        if (id.checked){
            document.getElementById("gamma_2").disabled = false;
            document.getElementById("gamma_2").style.color = 'black';
            document.getElementById("sigma_2").disabled = false;
            document.getElementById("sigma_2").style.color = 'black';
            document.getElementById("cutoff_method_2").disabled = false;
            document.getElementById("cutoff_method_2").style.color = 'black';
        }
        else {
            document.getElementById("gamma_2").disabled = true;
            document.getElementById("gamma_2").style.color = '#ababab';
            document.getElementById("sigma_2").disabled = true;
            document.getElementById("sigma_2").style.color = '#ababab';
            document.getElementById("cutoff_method_2").disabled = true;
            document.getElementById("cutoff_method_2").style.color = '#ababab';
        }
    }

    function getParams() {
        return {
            // General
            "small_RAM_mode": document.getElementById("ram_checkbox").value,
            "render": document.getElementById("render_checkbox").value,
            "dim_x": document.getElementById("dim_x").value,
            "dim_y": document.getElementById("dim_y").value,
            "dim_z": document.getElementById("dim_z").value,
            // Preprocessing
            "smoothing": document.getElementById("smoothing").value,
            "core_threshold": document.getElementById("core_threshold").value,
            // Segmentation
            "core_vessel_1": document.getElementById("vesselness_1").value,
            "gamma_1": document.getElementById("gamma_1").value,
            "sigma_1": document.getElementById("sigma_1").value,
            "cutoff_method_1": document.getElementById("cutoff_method_1").value,
            "core_vessel_2": document.getElementById("vesselness_2").value,
            "gamma_2": document.getElementById("gamma_2").value,
            "sigma_2": document.getElementById("sigma_2").value,
            "cutoff_method_2": document.getElementById("cutoff_method_2").value,
            // Postprocessing
            "post_thinning": document.getElementById("post_thinning").value,
            "thin": document.getElementById("thin").value,
            "min_thickness": document.getElementById("min_thickness").value,
            "post_closing": document.getElementById("postclosing").value,
            "post_cleaning": document.getElementById("postcleaning").value,
            // Graph Analysis
            "pruning_scale": document.getElementById("pruning_scale").value,
            "length_limit": document.getElementById("length_limit").value,
            "diameter_scale": document.getElementById("diameter_scale").value,
            "branching_threshold": document.getElementById("slider-input-2").value,
            "extended_output": document.getElementById("graphoutput_checkbox").value,
            // Rendering Preview
            "image_resolution_x": document.getElementById("image_resolution_x").value,
            "image_resolution_y": document.getElementById("image_resolution_y").value,
            "render_device": document.getElementById("gpu_checkbox").value
        }
    }

    function resetParams() {
        // General
        document.getElementById("dim_x").value = '1.0';
        document.getElementById("dim_y").value = '1.0';
        document.getElementById("dim_z").value = '1.0';
        document.getElementById("pixel_dims").innerHTML = '1 pixel/voxel = ' + document.getElementById('dim_x').value + ' x ' + document.getElementById('dim_y').value + ' x ' + document.getElementById('dim_z').value + ' µm';
        document.getElementById("ram_checkbox").checked = false;
        document.getElementById("render_checkbox").checked = false;
        // Preprocessing
        document.getElementById("smoothing").value = 1;
        document.getElementById("core_threshold").value = 3.0;
        // Segmentation
        document.getElementById("vesselness_1").checked = true;
        document.getElementById("gamma_1").value = 5;
        document.getElementById("sigma_1").value = 1.0;
        document.getElementById("cutoff_method_1").value = '2';
        document.getElementById("vesselness_2").checked = true,
        document.getElementById("gamma_2").value = 5;
        document.getElementById("sigma_2").value = 2.0;
        document.getElementById("cutoff_method_2").value = '2';
        // Postprocessing
        document.getElementById("post_thinning").checked = true;
        document.getElementById("thin").value = 1;
        document.getElementById("min_thickness").value = 1;
        document.getElementById("postclosing").value = 5;
        document.getElementById("postcleaning").value = 100;
        // Graph Analysis
        document.getElementById("pruning_scale").value = 1.5;
        document.getElementById("length_limit").value = 3.0;
        document.getElementById("diameter_scale").value = 2.0;
        document.getElementById("slider-input-2").value = 0.25;
        document.getElementById("graphoutput_checkbox").checked = true;
        // Rendering Preview
        document.getElementById("image_resolution_x").value = 1920;
        document.getElementById("image_resolution_y").value = 1080;
        document.getElementById("gpu_checkbox").checked = true;
    }

    // Sliders
    $("#slider2").slider({
        min: 0,
        max: 1,
        start: config["graphAnalysis"]["branching_threshold"],
        step: 0.05,
        smooth: true,
        onChange: function (value) {
            document.getElementById("slider-input-2").value = value;
            document.getElementById("branch_thresh_span").innerHTML = 'Branching threshold: ' + value;
        }
    });

    // AJAX
    $("#update_config").click(function (event) {
        event.preventDefault();  // Deactivate standard POST submit
        // Data that is sent to backend
        var ajax_data = [{
            "request": "update_config",
            "update_config": getParams()
        }];
        $.ajax({ // AJAX POST instructions
            type: "POST",
            url: {{ url_for("home.home_page")| tojson }},
            data: JSON.stringify(ajax_data),
            contentType: "application/json",
            dataType: "json",
        }).done(function (flash_collection) {
            flash_handler(flash_collection)
        });
    });

    $("#reset_config").click(function (event) {
        event.preventDefault();  // Deactivate standard POST submit
        // Data that is sent to backend
        resetParams()
        var ajax_data = [{
            "request": "reset_config",
        }];
        $.ajax({ // AJAX POST instructions
            type: "POST",
            url: {{ url_for('home.home_page')| tojson }},
            data: JSON.stringify(ajax_data),
            contentType: "application/json",
            dataType: "json"
        }).done(function (flash_collection) {
            flash_handler(flash_collection)
        });
    });
</script>